[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 3.8.x
[submodule "googleapis"]
	path = googleapis
	url = https://github.com/googleapis/googleapis.git
