[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 3.8.x
[submodule "api-common-protos"]
	path = api-common-protos
	url = https://github.com/googleapis/api-common-protos.git
